:root{
    --third-color:#DCF2F1;
    --primary-color:#1e1e1e;
    --text-color:#365486;
    --alternate-color:#7FC7D9;
    --royal-color:#a48b0c;
  }
  /* .tips{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
  } */

.cart{
  color: var(--text-color);
  margin-top:100px;
  width: 80%;
   margin: auto;
}
.cart-title{
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr 1fr 1fr 0.4fr;
  align-items: center;
  font-size: max(1vw,12px);
}
.cart-imo{
 width: 50px; 
 height:50px ;
}
#itemie{
  margin: 10px 0px;

}