:root{
    --third-color:#DCF2F1;
    --primary-color:#1e1e1e;
    --text-color:#365486;
    --alternate-color:#7FC7D9;
    --royal-color:#a48b0c;
  }
 
.cart{
  color: var(--text-color);
  margin-top:100px;
  width: 80%;
   margin: auto;
   min-height:100vh;
}
.cart-title{
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr 1fr 1fr 0.4fr;
  align-items: center;
  font-size: max(1vw,12px);
}
.cart-imo{
 width: 50px; 
 height:50px ;
}
#itemie{
  margin: 10px 0px;

}
.cart-bottom{
 margin-top: 80px;
 display: flex;
 justify-content: space-between;
 gap: max(12vw, 20px); 
}
.card-totals{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-total-details hr{
  margin:10px 0px;
}
.card-total-details{
  display: flex;
  justify-content: space-between;
  color: #555;
}
.pay{
  background-color: var(--alternate-color);
  display:flex ;
  align-items:center;
  border: var(--third-color); 
  height:4vh;
  border-radius:4px;
}
.del{
  background-color:var(--royal-color);
  color: var(--third-color);
  border-radius: 4px;
  cursor: pointer;
}