:root {
  --third-color: #dcf2f1;
  --carbon-color: #bd76f8;
  --text-color: #365486;
  --alternate-color: #7fc7d9;
  --royal-color: #a48b0c;
}
body{
  background-color: var(--third-color);
}
.madango{
  color: var(--text-color);
  display: grid;
  place-content: center;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/homepage.jpeg") no-repeat center/cover;
  height: 60vh;
  width: 80%;
  margin:  auto;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  margin-bottom: 2rem;
 
}
@media screen and (max-width:21.7em) {
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    object-fit: contain;
    width:50%;
  }
}
@media screen and (max-width:25.75em) {
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    object-fit: cover;
    width:94% ;
  }

}

.hero-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--third-color);
  
 
}
.heading {
  font-size: max(4.5vw, 22px);
  font-weight: 500;
}
#but{
  height: 40px;;
  width: 100px;
  border-radius: 10px;
  background-color: var(--carbon-color);
  color: var(--third-color);
 
}

.btn{
  display:flex;
  gap: 2rem;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.hola{
  color: var(--text-color);
  border: 2px solid #365486;
  border-radius: 8px;
  background-color:var(--carbon-color);
}
.details{
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  color:var(--text-color);
}
.detail{
  width: 180px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  color: var(--text-color);
}
.details h3{
  text-transform: capitalize;

}
.detail h4{
  text-transform: capitalize;
  display: flex;
  justify-content: left;
  align-items: start;

}
.cat{
  display:flex;
  margin:auto;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;

 
}
@media screen and (max-width:21.7em) {
  .cat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    object-fit: contain;
    width:50%;
    
  }

  
  .cat img{
    width:50%;
  }
  .details h3{
    font-size:xx-small;
  }
}
@media screen and (max-width:25.75em) {
  .cat{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
    place-items: center;
    padding: 2rem;
    object-fit: contain;
    
    
  }

}


.cat img{
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.image{
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: url(../../assets/whole.jpeg)no-repeat center/cover;
}
.image1{
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: url(../../assets/offer1.jpeg)no-repeat center/cover;
}
.image2{
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: url(../../assets/offer2.jpeg)no-repeat center/cover;
}
.image3{
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: url(../../assets/shoe.jpeg)no-repeat center/cover;
}
.image4{
  width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: url(../../assets/gold.jpeg)no-repeat center/cover;
}
.item{
  background-color: #7fc7d9; 
  border-radius: 8px;
  
}
@media screen and (max-width:21.7em) {
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    object-fit: contain;
    
  }

}
@media screen and (max-width:25.75em) {
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    object-fit: contain;
    flex-wrap: wrap;
  }

}
