:root{
    --third-color:#DCF2F1;
    --primary-color:#1e1e1e;
    --text-color:#365486;
    --alternate-color:#7FC7D9;
    --royal-color:#a48b0c;
  }
  .manee{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
  }
  .imagery{
    background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .top{
    border: 2px solid #7FC7D9;
    border-radius: 8px;
  }
  .bton{
    object-fit: cover;
    width: 100%;
    height: 4vh;
    border-radius: 4px;
    background-color: var(--carbon-color);
    color: var(--third-color);
  }

  #bei{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--royal-color);
   
  }

  .imagery1{
    background-color: #7FC7D9;
    background: url(../../assets/appliances.jpeg)no-repeat center/cover;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery2{
  background: url("../../assets/bike.jpeg")
  no-repeat center/cover; 
   background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery3{
    background: url("../../assets/cylinder.jpeg")no-repeat center/cover;;
    background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery4{
    background: url("../../assets/jewel.jpeg")
 no-repeat center/cover; 
   background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery7{
    background: url("../../assets/ladly.jpeg")
 no-repeat center/cover;
  background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery8{
    background: url("../../assets/Indomaret.jpeg")no-repeat center/cover;
    background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery9{
    background: url("../../assets/snacks.jpeg")no-repeat center/cover;  
      background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  .imagery0{
    background: url("../../assets/Beras.jpeg")
 no-repeat center/cover; 
   background-color: #7FC7D9;
   width: 230px;
   height: 230px;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
 

