:root{
    --third-color:#DCF2F1;
    --primary-color:#1e1e1e;
    --text-color:#365486;
    --alternate-color:#7FC7D9;
    --royal-color:#a48b0c;
  }
.cart-image{
    width: 200px;
    height: 200px;
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.main{
    color:var(--text-color) ;
    margin: 30px auto;
    
}
.main h2{
    display: grid;
    place-content: center;
    margin-bottom: 30px;
    text-transform: capitalize;
   
}
.cart-items{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    
   
}
.fidel{
    display: flex;
    flex-direction: column;
}

.count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    
}
.count button{
   border: var(--alternate-color);
   background-color:var(--carbon-color) ;
  
   text-transform: capitalize;
   
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}